<?nextrec?>
<?output "../includes-gen/=$title&^tf$=-chunk.html"?>
			<article class="front-page-card">
				<p>
					<span class="section-name">
						=$title&^to$=:
					</span>
				</p>
<?if "=$imagename$=" ?>
				<p>
<?if "=$image-link$=" ?>
					<a href="=$image-link$=" class="implicit">
<?endif?>
						<img class="img-fluid rounded" src="=$relative$=images/=$imagename&f$=" alt="=$imagealt$=">
<?if "=$image-link$=" ?>
					</a>
<?endif?>
				</p>
<?endif?>
				=$body&o$=
				
<?if "=$button-text$=" ?>
				<div>
					<a class="readmore" href="=$button-link$=">=$button-text$=</a>
				</div>
<?endif?>
				<div class="clearboth"></div>
				
			</article>
<?loop?>
