<?output "../includes-gen/featured-essay.html"?>
<?nextrec?>
			<article class="front-page-card">
				<p>
					<span class="section-name">
						<a class="implicit" href="writings/=$title&^tf$=.html">
							Featured Essay:
						</a>
					</span>
				</p>
				
				<h3>
					<a class="implicit" href="writings/=$title&^tf$=.html">
						=$title&h$=
					</a>
				</h3>
				
<?if "=$imagename$=" ?>
				<p>
					<a class="implicit" href="writings/=$title&^tf$=.html">
						<img class="img-fluid rounded" src="=$relative$=images/=$imagename&f$=" alt="=$imagealt$=">
					</a>
				</p>
<?endif?>
				
				=$teaser&w1o$=
				
				<div>
					<a class="readmore" href="writings/=$title&^tf$=.html">read more...</a>
					<p class="pubdate">
						=$date&dd MMM yyy$=
					</p>
				</div>
				<div class="clearboth"></div>
			</article>
<?loop?>
