<?nextrec?>
<?if "=$shortid$=" ?>
<?output "../../web/w/=$shortid$="?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>=$title$=</title>
	<meta http-equiv="refresh" content="0; URL='https://hbowie.net/writings/=$title&f$=.html'" />
</head>
<body>
<p>Redirecting to <a href="https://hbowie.net/writings/=$title&f$=.html">HBowie.net/writings/=$title&f$=.html</a>...</p>
</body>
</html>
<?endif?>
<?loop?>
